pandas==1.4.4
pandas-datareader==0.10.0
numpy==1.25.0
dash-mantine-components==0.12.1
dash-html-components==2.0.0
dash-core-components==2.0.0
dash==2.9.3
dash-ag-grid==2.4.0
gunicorn==21.2.0
Flask==2.2.5
scipy==1.9.1
DateTime==5.4.0
timedelta==2020.12.3
